.accordion-item {
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 500px;
    padding: 2rem;
  }

  .para-styles {
    text-transform: capitalize;
  }
  
  .accordion-title-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .accordion-icon {
    margin-left: auto;
    font-size: 14px;
  }
  
  .accordion-content {
    padding: 10px;
    border-top:  1px solid #ccc;
    margin-top: 2rem;
  }
  
  .accordion {
    width: 500px;
    margin: 0 auto;
  }